app/.env
setup/venv
setup/__pycache__/
setup/data/class.csv
setup/data/subjects.csv
setup/data/students.csv
setup/data/scores.csv
setup/data/bulletin.csv
setup/data/health_index.csv
app/Model/modules/app_data.json