*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.custom-navbar, .custom-navbar a, .custom-navbar a:hover {
    background-color: #ffffff;
    color: #DC3545;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white;
    background-color:  #DC3545;
}

.background-image {
    background-image: url("../assets/images/sample-bg-2.png");
    background-size: cover;
    background-position: center;
}

.header-bg-img {
    width: 100%;
    background-image: url("../assets/images/sample-bg-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-bg-img-1 {
    width: 100%;
    background-image: url("../assets/images/nav-bg-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.glassmorphism-1 {
    background: rgba(255, 255, 255, 0.842) !important;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37) !important;
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
}



/* Rounded image edge */
img.login {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}    

.btn {
    width: 200px !important;
    max-width: 200px;
}

/* Horizontally center an element */
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Vertically center an element */
.vertical-center {
    min-height: 100%;  
    min-height: 100vh; 
  
    display: flex;
    align-items: center;
}

/* For Error message */
.error{
    color: #D8000C;
    background-color: #FFBABA;    
    padding:5px;
    margin-bottom: 2px;
}
